<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.ChallengeMapper">

	<!-- 챌린지 조회 -->
	<select id="selectList" parameterType="int" resultType="ChallengeDTO">
		SELECT *
		FROM challenge
		WHERE member_id = #{memberId}
		ORDER
		BY datetime ASC
	</select>

</mapper>