<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.DailyLogMapper">

	<!-- 일일 데이터 저장 -->
	<insert id="insert" parameterType="DailyLogDTO">
		INSERT INTO daily_log (id, member_id, datetime, sleep, medicine)
		VALUES (seq_daily_log.NEXTVAL, #{memberId}, CURRENT_DATE, #{sleep}, #{medicine})
	</insert>

	<!-- 일일 데이터 조회 -->
	<select id="selectList" parameterType="DailyLogDTO" resultType="DailyLogDTO">
		SELECT *
		FROM daily_log
		WHERE member_id = #{memberId} and TO_CHAR(datetime, 'yyyy/MM') = #{datetime}
		ORDER
		BY id ASC
	</select>

</mapper>