<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.MessageMapper">

	<!-- 쪽지 List -->
	<select id="selectMessageList" resultType="MessageDTO" parameterType="Integer">
		<![CDATA[
			SELECT *
			FROM message
			WHERE (sender_id = ${id} OR reciever_id = ${id}) AND datetime in (select max(datetime) from message group by sender_id, reciever_id)
			ORDER BY datetime desc
		]]>
	</select>
	
	<!-- 쪽지 보내기 -->
	<insert id="sendMessage" parameterType="hashmap">
	<![CDATA[
		INSERT INTO message ( id, sender_id, sender_name, sender_privilege, reciever_id, reciever_name, reciever_privilege, content)
		values (seq_message.nextval, #{senderId}, #{senderName}, #{senderPrivilege}, #{recieverId}, #{recieverName}, #{recieverPrivilege}, #{content}) 
	
	]]>
	</insert>
	
	<!-- 쪽지 대화내역 가져오기-->
	<select id="getChats" resultType="MessageDTO" parameterType="hashmap">
	<![CDATA[
		SELECT *
		FROM message
		WHERE (sender_id = ${userId} OR reciever_id = ${userId}) AND (sender_id = ${otherId} OR reciever_id = ${otherId})
		ORDER BY datetime
	]]>
	</select>
	

</mapper>