<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.MessageMapper">

	<!-- 쪽지 List -->
	<select id="selectMessageList" resultType="MessageDTO" parameterType="String">
		<![CDATA[
			SELECT sender, reciever, content, message.datetime, send.nickname as senderNickname, send.name as senderName, recieve.nickname as recieverNickname, recieve.name as recieverName
			FROM message, member send, member recieve
			WHERE (sender = #{id} OR reciever = #{id}) AND send.id=sender AND recieve.id=reciever
			ORDER BY datetime desc
		]]>
		
	</select>
	

</mapper>