<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.MiniroomMapper">

	<select id="selectAllItems" resultType="ItemDTO" parameterType="String">
	<![CDATA[
		select id, category, name, price
		from ITEM
		where category=#{category}

		]]>
	</select>

	<select id="selectAllWishItems" resultType="ItemDTO" parameterType="hashmap">
	<![CDATA[
		select i.id, i.category, i.name, i.price
		from ITEM i
				 Inner Join MY_ITEM m
							ON m.item_id = i.id
		where i.category=#{category} and m.wish=1 and m.member_ID=#{id}

		]]>
	</select>

	<select id="selectByMyItemId" resultType="MyItemDTO" parameterType="hashmap">
	<![CDATA[
		select id, member_ID, item_ID,wish
		from MY_ITEM
		where item_Id=#{itemId} and member_ID=#{memberId}

		]]>
	</select>

	<insert id="insertBuy" parameterType="MyItemDTO">
		Insert into MY_ITEM (id, member_ID, item_ID, wish)
		values (seq_My_Item.nextval, #{memberId}, #{itemId},0)

	</insert>

	<insert id="insertDefaultItems" parameterType="String">
		Insert into MY_ROOM (id, member_ID, floor, wallpaper,bed,closet,desk,walldeco, member_Name)
		values (seq_My_Room.nextval, seq_Member.currval, 1,11,21,31,41,51, #{name})
	</insert>

	<insert id="wishInsert" parameterType="hashmap">
	<![CDATA[
		Insert into MY_ITEM (id, member_Id,item_Id, wish)
		values (seq_My_Item.nextval,#{memberId},#{itemId},1)
		]]>
	</insert>
	<delete id="wishDelete" parameterType="hashmap">
	<![CDATA[
		delete from MY_ITEM
		where item_Id = #{itemId} and member_Id = #{memberId}
		]]>
	</delete>

	<update id="wishZero" parameterType="hashmap">
		<![CDATA[
		update MY_ITEM
		set wish = 0
		where member_Id=#{memberId} and item_Id=#{itemId}
		]]>
		</update>

	<update id="applyMiniroom" parameterType="hashmap">
		<![CDATA[
		update MY_ROOM
		set ${category}=#{itemId}
		where member_Id=#{memberId}
		]]>
		</update>

	<update id="applyMiniroomFloor" parameterType="MyItemDTO">
		<![CDATA[
		update MY_ROOM
		set floor=#{itemId}
		where member_Id=#{memberId}
		]]>
		</update>
	<update id="applyMiniroomWallpaper" parameterType="MyItemDTO">
		<![CDATA[
		update MY_ROOM
		set wallpaper=#{itemId}
		where member_Id=#{memberId}
		]]>
		</update>
	<update id="applyMiniroomBed" parameterType="MyItemDTO">
		<![CDATA[
		update MY_ROOM
		set bed=#{itemId}
		where member_Id=#{memberId}
		]]>
		</update>
	<update id="applyMiniroomCloset" parameterType="MyItemDTO">
		<![CDATA[
		update MY_ROOM
		set closet=#{itemId}
		where member_Id=#{memberId}
		]]>
		</update>
	<update id="applyMiniroomDesk" parameterType="MyItemDTO">
		<![CDATA[
		update MY_ROOM
		set desk=#{itemId}
		where member_Id=#{memberId}
		]]>
		</update>
	<update id="applyMiniroomWalldeco" parameterType="MyItemDTO">
		<![CDATA[
		update MY_ROOM
		set walldeco=#{itemId}
		where member_Id=#{memberId}
		]]>
		</update>

	<select id="selectAllMyItems" resultType="ItemDTO" parameterType="hashmap">
	<![CDATA[
		select i.id, i.category, i.name, i.price
		from MY_ITEM m
				 Inner Join ITEM i
							ON m.item_id = i.id
		where i.category=#{category} and m.member_ID=#{id}

		]]>
	</select>
	<select id="selectMyRoom" resultType="MyRoomDTO" parameterType="int">
	<![CDATA[
		select member_id, floor, wallpaper, bed, closet,desk, walldeco
		from MY_ROOM
		where member_id=#{id}
		]]>
	</select>

	<update id="updatePoint" parameterType="hashmap">
	<![CDATA[
		UPDATE MEMBER
		SET POINT = POINT - #{price}
		WHERE ID = #{memberId}
		]]>
	</update>

</mapper>
