<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.NorangMapper">

	<!-- 일일 챌린지 도전 유무 조회 -->
	<select id="dailyChallengeDo" parameterType="ChallengeDTO" resultType="int">
		SELECT COUNT(*)
		FROM CHALLENGE
		WHERE member_id = #{memberId} and TO_CHAR(datetime, 'yyyy-MM-dd') = #{datetime}
	</select>
	
	<!-- 일일 챌린지 사진 업로드 -->
	<insert id="dailyChallengeUpload" parameterType="ChallengeDTO">
		INSERT
		INTO CHALLENGE (id, member_id, datetime, title)
		VALUES (seq_challenge.nextval, #{memberId}, TO_DATE(sysdate, 'yyyy-MM-dd'), #{title})
	</insert>

</mapper>