<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.PostMapper">

	<select id="selectAll" resultType="PostDTO">
	<![CDATA[
		select p.id, p.member_Id as memberId, p.category, 
		p.title, p.content, p.datetime, p.replies, p.likes, p.views, m.nickname as memberNickname, m.name as memberName
		from POST p
		Inner Join MEMBER m
		On p.member_Id = m.id
		]]>
	</select>
	
	<select id="selectById" parameterType="int" resultType="PostDTO" >
	<![CDATA[
	select id, member_Id as memberId, category,
	title,
	content,
	to_char(datetime,'YYYY/MM/DD') datetime,
	replies,likes, views
	from POST
	where id = #{id}
	]]>
	</select>
	
	<insert id="insert" parameterType="DeptDTO">
	<![CDATA[
	    insert into POST ( member_Id, title, content )
	    values ( #{memberId}, #{title}, #{content} )
	    ]]>
	</insert>

</mapper>