.chat_icon{
	position: fixed;
	right: 30px;
	bottom: 0;
	font-size: 60px;
	color: black;
	cursor: pointer;
	z-index: 1000;
}
.chat_box{
	position: fixed;
	right: 20px;
	bottom: 100px;
	width: 400px;
	height: 85vh;
	background: #dedede;
	z-index: 1000;
	transition: all 0.3s ease-out;
	transform: scaleY(0);
}
.chat_box.active{
	transform: scaleY(1);
}
.hidden{
	display: none !important;
}
.conv-form-wrapper textarea{
	height: 30px;
	overflow: hidden;
	resize: none;
}
#messages{
	padding: 20px;
}